body {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo {
    color: blanchedalmond;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: coral;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_togleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: coral;
}

@media screen and (max-widthh: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navber_togleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

}

.badookpan_line1 {
    display: flex;
    margin: 300px;
}

.badookpan_line2 {
    display: flex;
    margin: 300px;
}

.section {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 50%
}
